@import "../../../assets/styles/mixins";

@media screen and (max-width: 786px) {
  .outer_container{
    width: 100vw;
  }
}

@media screen and (min-width: 786px) {
  .outer_container{
    padding: 2.5em;
  }
  
}

@import 'assets/styles/_mixins';

.swap-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-color: white;
  border-width: 2px;
}

.row {
  display: flex;
  width: 70%;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.individual {
  padding: 5px;
}



